.profile {
  position: relative;
  margin-bottom: 8px;

  h2 {
    padding: 20px 35px;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0;
    left: 30%;
    bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:  0;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
  }

  &__pic {
    position: absolute;
    width: 28%;
    padding-top: calc(28% - 16px);
    border-radius: 100%;
    background: #fff;
    overflow: hidden;
    left: 30px;
    bottom: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 8px solid #fff;
    z-index: 30;
    transform: translate(0, calc(50% + 4px));

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__userButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
