.addPostForm {
  transition: all 0.1s;
  position: relative;
  max-height: 1000px;
  overflow: hidden;
  z-index: 20;

  &__postImage {
    width: 100%;
    height: auto;
  }

  &__postTitle {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, calc(-50% - 25px));

    input[type=text]{
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 600;

      &::placeholder{
        color: #fff;
      }
    }
  }

  &__postText {
    display: none; 
  }

  &__buttons {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
    background: #fff;

    .left, .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left button{
      margin-right: 5px;
    }

    .right button {
      margin-left: 5px;
    }
  }

  &__borderButton {
    z-index: 10;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 4px 8px;
    border: 1px solid #ddd;
    margin-right: 5px; 
  }

  &__removeImageButton {
    position: absolute;
    top: 10px;
    right: 20px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__closeButton, &__deleteButton {
    img {
      width: 13px;
      height: 13px;
    }
  }

  &__linkButton {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 20;
    display: flex;
    align-items: center;

    .btnImage {
      background: #fff;
      padding: 5px;
      line-height: 0;
      border-radius: 20px;
      margin-right: 8px;

      img {
        width: 13px;
        height: 13px;
      }
    }

    .btnText {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }
  }

  &__closeButton {
    &--hasContent {
      display: none
    }
  }

  &__deleteButton {
    line-height: 0;
    margin: 0 10px !important;
  }

  &--hidden {
    max-height: 0px;
    padding: 0;
  }

  input[type=file] {
    display: none;
  }
}
