.verifypage {
  background: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &__row {
    margin: 0 -4px;
  }

  &__col {
    padding: 0 4px;
    position: relative;
  }

  &__background {
    width: 100vw;
  }
}
