.verifypage {
  background: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;

  button:focus, input:focus {
    outline: none;
  }

  &__row {
    margin: 0 -4px;
  }

  &__col {
    padding: 0 4px;
    position: relative;
  }

  &__background {
    width: 100vw;
  }

  .verifyAlert {
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;

    &__profilePic {
      width: 140px;
      height: 140px;
      border-radius: 100%;
      background: #fff;
      overflow: hidden;
      border: 8px solid #fff;
      z-index: 30;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    &__message {
      background: #fff;
      height: 140px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 90px;
      margin-left: -70px;
      width: 380px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__help--hidden {
      display: none;
    }

    &__helpButton {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
