.authWrapper {
  margin-top: 8px;
  padding: 100px 30px 20px 70px;
  position: relative;
  max-height: 1000px;
  opacity: 1;
  transition: all 0.3s;
  z-index: 10;

  &--hidden {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    margin-top: 0;
  }

  &__closeBtn {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;

    img {
      width: 15px;
      height: 15px;
      filter: grayscale(100%);
    }
  }

  &__inlineButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    button {
      width: calc(50% - 5px);
      border: 1px solid #ddd;
      background: #eee;
      color: #888;
      padding: 8px 0 8px 8px;
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }

  &__uploadButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    & > div {
      width: calc(50% - 4px);
    }
  }

  &__uploadButton {
    position: relative;
    overflow: hidden;
    background: #eee;
    color: #888;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ddd;

    img {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 5px;
      top: calc(50% - 10px);
    }
  }

  &__buttons {
    margin-top: 10px;
    
    button {
      color: #888;
      padding: 8px;
      cursor: pointer;
      margin-right: 10px;

      &.active {
        border: 1px solid #ddd;
        background: #eee;  
      }
    }
  }


  &__divider {
    text-align: center;
    position: relative;
    margin-bottom: 10px;

    &:before {
      border-bottom: 1px solid #aaa;
      content: ' ';
      position: absolute;
      display: block;
      top: 50%;
      width: 100%;
    }

    span {
      font-size: 16px;
      padding: 0 20px;
      background-color: #fff;
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      color: #aaa;
    }
  }

  input[type=text], input[type=email], input[type=password] {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    color: #333;
  }
}
