.search-button {
	cursor: pointer;
  position: absolute;
  z-index: 10; 
  margin: 6px; 
  top: 40px;
  box-sizing: content-box;

  img {
    width: 12px; 
    height: 12px; 
    padding: 5px; 
    border-radius: 20px; 
    box-shadow: 0 0 7px rgba(0,0,0,0.4); 
    background: #fff; 
    display: block; 
    margin: 8px; 
    opacity: 0.75; 
    cursor: pointer; 
    border: 1px solid transparent;
  }
 }

 .map-block {
  position:absolute; 
  top:0; 
  bottom:0; 
  left:256px; 
  width: calc(100% - 256px);
  transition: linear 0.1s;
 }

 .scoreboard-block{
	right:20px; 
  top:20px; 
  text-align:right; 
  color:#000; 
  font-weight:900; 
  text-transform:uppercase; 
  position:absolute;
  display:none;
 }

.quest-block {
	position: relative; 
	background: #fff; 
	color: #222; 
	width: 256px; 
	height: 100vh; 
	padding: 0 0 0 56px; 
	box-sizing: border-box; 
	box-shadow: 0 0 7px rgba(0,0,0,0.2); 
	z-index: 20;

	.list {
		top: 58px; 
		position: absolute; 
		text-align: center; 
		margin: auto; 
		z-index: 50;

		button {
			font-size: 13px; 
			font-weight: 600; 
			opacity: 0.2; 
			width: 25px; 
			height: 25px; 
			margin: 10px; 
			margin-left: -42px; 
			border-radius: 15px; 
			cursor: pointer;  
			vertical-align: center;
			font-weight: bold;

			&:hover {
				opacity:1;
			}
		}

		.item {opacity:0.2; color:#000;}
		.on {opacity:0.7; color:#000;}
		
		.add-section {opacity:0.6; font-size:19px;}
	}

	.buttons {
		button {
			z-index: 20;
			position: absolute; 
			cursor: pointer; 
			top: 7px;

			&.minimize {
				right: 35px; opacity:0.45; box-sizing: content-box;

				&:hover {
					opacity: 0.45;
				}

				div {
					border: 1px solid #000; 
					width: 8px; 
					height: 0; 
					margin: 15.5px 6px;
				}
			}

			&.close {
				right:0; 
				opacity:0.75;

				&:hover {
					opacity: 1;
				}

				img {
					margin: 10px 13px 10px 6px; 
					width: 13px;
				}
			}
		}
	}
}

.sections {
	.section {
		display: none;
		
		.tabs {
			padding-top: 17px; 
			position: relative; 
			left: -4px;

			.tab {
				border-radius: 3px 3px 0 0; 
				border: 0.5px solid #ccc; 
				border-bottom: none; 
				position: absolute; 
				height: 33px; 
				width: 28px; 
				background: #fff;
				box-sizing: content-box;
				transition: ease-in-out 0.15s;

				&.first {
					left: 0;
				}

				&.second {
					left: 28px;
				}

				&.third {
					left: 56px;
				}
			}

			.line {
				top: 50px; 
				position: absolute; 
				width: calc(100% + 50px); 
				left: -56px; 
				border-top: 0.5px solid #ccc;
			}

			img {
				padding: 10px 8px; 
				width: 13px; 
				display: inline-block; 
				position: relative; 
				opacity: 0.6; 
				cursor: pointer; 
				box-sizing: content-box;

				&.active, &:hover {
					opacity: 1;
				}
			}
		}

		.pages {
			.page {
        position: relative;

        .buttons-row, .suggestions {
          height: 80vh;
          overflow-y: scroll;
          margin-right: 5px;
        }

        .button-wrapper {
        	text-decoration: none;
				  -webkit-font-smoothing: antialiased;
				  -webkit-touch-callout: none;
				  user-select: none;
				  cursor: pointer;
				  font-family:'Open Sans', sans-serif; 
				  display:block; 
				  border:none; 
				  margin:8px; 
				  outline:none; 
				  text-transform:uppercase; 
				  font-weight:400; 
				  font-size:13px;

				  img {
				  	position: relative;
				  	height: 13px;
				  	display: none;
				  	margin-left: 2px;
				  	filter:grayscale(100%);
				  }

				  button {
				  	padding: 3px 5px;
				  	display: inline-block;
				  }

				  &.active, &:hover {
				  	button {
				  		background: #00bb00;
				  		color: #fff;
				  	}
				  }

				  &.active:hover {
				  	img {
				  		display: inline-block;
				  	}
				  }

				  &.star {
				  	img {
				  		filter: none;
				  		display: inline-block;
				  	}
				  }
        }

				.filtered {
					display: none;
				}

        .excluded {
        	display: none;
        }

				h1 {
					font-size: 15px; 
          font-weight: 600; 
          margin: 20px 0 10px 5px; 
          cursor: default;
					text-transform: uppercase;
				}

				.search, .close {
					position: absolute;
          height: 13px;
          opacity: 0.75; 
          cursor: pointer; 
          z-index: 10;
          top: 55px;
          box-sizing: content-box;
				}

				.search {
					left: 0;
				}

				.close {
					right: 10px;
				}

				input {
					padding: 5px; 
          position: relative; 
          width: 85%; 
          margin: 15px 0 20px; 
          text-transform: uppercase; 
          font-family: 'Open Sans', sans-serif; 
          font-size: 12px; 
          border-bottom: 0.5px solid #ccc; 
          width: 85%; 
          outline: none;
				}

				.place-button {
					text-decoration: none;
				  -webkit-font-smoothing: antialiased;
				  -webkit-touch-callout: none;
				  user-select: none;
				  cursor: pointer;
				  font-family:'Open Sans', sans-serif; 
				  display:block; 
				  border:none; 
				  padding:3px 5px; 
				  margin:8px; 
				  outline:none; 
				  text-transform:uppercase; 
				  font-weight:400; 
				  font-size:13px;

				  &:hover {
				    background: #00bb00;
				    color: #fff;
				  }
				}
			}
		}
	}
}