/***
   
  Common classes

***/

// Font Weight
.Fw-B {
  font-weight: bold;
}

// Font Size
.Fz-14 {
  font-size: 14px;
}

// Text Transform
.Tt-U {
  text-transform: uppercase;
}

// Text Align
.Ta-L {
  text-align: left;
}

.Ta-C {
  text-align: center;
}

.Ta-R {
  text-align: right;
}

// Mouse Cursor
.Cr-P {
  cursor: pointer;
}

.Cr-D {
  cursor: default;
}

.Cr-T {
  cursor: text;
}

// Overflow

.Ov-H {
  overflow: hidden;
}

.Ov-XH {
  overflow-x: hidden;
}

.Ov-YH {
  overflow-y: hidden;
}

// Padding
.P-0 {
  padding: 0;
}

.P-5 {
  padding: 5px;
}

.P-7 {
  padding: 7px;
}

.P-30 {
  padding: 30px;
}

.Pl-60 {
  padding-left: 60px;
}

.Pb-20 {
  padding-bottom: 20px;
}

.Py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.Py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.Py-19 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.Px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.Px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

// Margin

.M-0 {
  margin: 0;
}

.M-8 {
  margin: 8px;
}

.Mb-0 {
  margin-bottom: 0px;
}

.Mb-8 {
  margin-bottom: 8px;
}

.Mb-10 {
  margin-bottom: 10px;
}

.Ml-2 {
  margin-left: 2px;
}

.My-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

// Position

.P-R {
  position: relative;
}

.P-F {
  position: fixed;
}

.P-A {
  position: absolute;
}

// Display

.D-B {
  display: block;
}

.D-N {
  display: none;
}

// Word Break

.Wb-Bw {
  word-break: break-word;
}

// Box Sizing

.Bs-Cb {
  box-sizing: content-box;
}

.Bs-Bb {
  box-sizing: border-box;
}

// Square

.Sq-15 {
  width: 15px;
  height: 15px;
}

// Line height
.Lh-100P {
  line-height: 100%;
}
