@import '../../../styles/common';

.fixedTile {
  &:before {
    content: '';
    display: block;
    padding-top: 50%;
  }

  @media (max-width: 767px) {
    &:before {
      padding-top: 100%;
    }
  }

  &__image {
    width: 100%;
    transform: scale(1);
    @include transition(all, $normalTrans);
  }

  &__content {
    @include absoluteFill();
    &:hover {
      .fixedTile__image {
        transform: scale($enlargeSize);
      }
    }

    &:before {
      content: '';
      z-index: 1;
      @include absoluteFill();
      @include insetBoxShadow($boxShadowBlur, $normalShadowColor);
    }
  }

  &__title {
    color: $white;
    font-weight: $heavierFw;
    line-height: $textLH;
    @include vCenter();
    @include textShadow($textShadowBlur, $lightShadowColor);
  }

  &__btn {
    position: absolute;
    right: 15px;
    bottom: 5px;
    color: $white;
    z-index: 10;
    @include textShadow($textShadowBlur, $lightShadowColor);

    &:hover {
      color: $white;
      @include textShadow($textShadowBlur, $normalShadowColor);
    }
  }
}
