* {
	font-family:'Open Sans', sans-serif;
}

body, div{
	background: #fff;
}

img {
	width: 100%;
}

.logo {
	top: 10px; 
	left: 10px; 
	position: fixed; 
	z-index: 100; 
	width: 32px; 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 20px; 
	height: auto;
}

.logo-name-tab {
	bottom: 20%; 
	padding: 7px; 
	position: fixed; 
	border-radius: 0 5px 5px 0; 
	background: #fff; 
	z-index: 100; 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border: none;
}

.logo-name-tab img {
	height: 85px; 
	width: 17px;
}

.more, .less {
	position: absolute; 
	border: 10px solid transparent; 
	border-left: 10px solid #ddd;
	cursor: pointer;
}

.arrow {
	z-index: 10;
	&:hover {
		border-left: 10px solid #006bca;	
	}
}


.more {
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg); 
	bottom: -10px; 
	right: -10px; 
	display: none;
}

.less {
	-ms-transform: rotate(225deg); 
	-webkit-transform: rotate(225deg); 
	transform: rotate(225deg); 
	bottom: 5px; 
	right: 5px; 
	display: none;
}

.text-tile {
	transition: ease-in-out 0.15s;
	width: calc(100% + 1px);
	height: 100%;
	overflow:hidden;

	.content {
		height: 100%;
		overflow:hidden;
		position: relative;
	}

	.overflow {
		&:after {
		  content:"";
		  position:absolute;
		  bottom: 0;
		  left:0;
		  height:200px;
		  width:100%;
		  background: linear-gradient(rgba(0,0,0,0), #fff);
		}
	}
}

.main-content {
	position: relative;
	width: 100%;

	&:after, &:before {
		clear: both;
		content: '';
		display: table;
	}

	.poster {
		position: relative;
		width: calc(66.66% - 2px);
		height: auto;
		margin-right: 2px;
		float: left;

		h1 {
			position: absolute;
			font-size: 4vw;
			line-height: 125%;
			text-transform: uppercase;
			text-shadow: 0 0 30px rgba(0,0,0,0.3);
			font-weight: bold;
			color: #fff;
			padding: 30px 50px;
			margin: 0;
		}
	}

	.description {
		width: calc(33.33% - 6px);
		height: 100%;
		margin-left: 6px;
		float: left;

		.col {
			position: relative;
			z-index: 4;

			&:first-child {
				width: 100%;
				padding-top: 100%;

				.text-tile {
					position: absolute;
					left: 0;
					top: 0;
					padding: 30px;
				}
			}

			&:last-child {
				position: absolute;
				bottom: 0;

				.img-tile {
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
					}
				}
			}
		}

		&:after, &:before {
			content: '';
			clear: both;
		}

		h2 {
			position: absolute;
	    font-weight: 900;
	    font-size: 2vw;
	    left: 25px;
	    top: 25px;
	    color: #fff;
	    text-transform: uppercase;
	    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	    z-index: 4;
	    line-height: 1;
	    margin: 0;
		}
	}
}


.tileset {
	margin-left: -4px;
	margin-right: -4px;

	.col {
		width: calc(33.33% - 8px);
		padding-top: calc(33.33% - 8px);
		position: relative;
		margin: 8px 4px 0px 4px;
		background: #fff;
		z-index: 4;
		float: left;

		&:first-child {
			padding-left: 60px;
		}

		&:nth-child(3n+1) {
			.img-tile h2 {
				left: 60px;
			}

			.text-tile {
				padding-left: 60px;
			}
		}
	}

	.text-tile {
		position: absolute;
		left: 0;
		top: 0;
		padding: 30px;

		h2 {
	    font-weight: 400;
	    text-transform: uppercase;
	    padding: 0 0 0.5em 0;
	    margin: 0;
	    color: #000;
	    font-size: 2vw;
	    position: relative;
		}
	}

	.img-tile {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;

		h2 {
			position: absolute;
			font-weight: 900;
			font-size: 2vw;
			left: 25px;
			top: 25px;
			color: #fff;
			text-transform: uppercase;
			text-shadow: 0 0 30px rgba(0,0,0,0.3);
			z-index: 3;
			line-height: 1;
			margin: 0;
		}

		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
			z-index: 2;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
}

@media screen and (min-width: 500px) and (max-width: 1000px){
	.tileset {
		.col{
			width: calc(50% - 8px);
			padding-top: calc(50% - 8px);
			position: relative;
			margin: 8px 4px 0px 4px;
			float: left;

			h2 {
				font-size: 3.5vw;
			}

			&:nth-child(2n+1) {
				.img-tile h2 {
					left: 60px;
				}

				.text-tile {
					padding-left: 60px;
				}
			}
		}
	}

	.main-content {
		position: relative;
		width: 100%;

		&:after, &:before {
			clear: both;
			content: '';
			display: table;
		}

		.poster {
			position: relative;
			width: 100%;
			margin: 0px;

			h1 {
				font-size: 10vw;
			}
		}

		.description {
			width: 100%;
			margin: 8px 0px 0px 0px;
			position: relative;

			.col {
				position: relative;

				h2 {
					font-size: 3.5vw;
				}

				&:first-child {
					float: left;
					width: calc(50% - 4px);
					padding-top: 50%;
					margin-right: 4px;

					.text-tile {
						position: absolute;
						left: 0;
						top: 0;
						padding: 30px 30px 30px 60px;
					}
				}

				&:last-child {
					position: relative;
					float: left;
					width: calc(50% - 4px);
					margin-left: 4px;
				}
			}

			&:after, &:before {
				content: '';
				clear: both;
			}
		}
	}
}

@media screen and (max-width: 500px){
	.tileset {
		.col{
			width: 100%;
			padding-top: 100%;
			position: relative;
			float: left;
			margin: 8px 0px 0px 0px;

			h2 {
				font-size: 7.5vw;
			}

			.img-tile h2 {
				left: 60px;
			}

			.text-tile {
				padding-left: 60px;
			}
		}
	}

	.main-content {
		position: relative;
		width: 100%;

		&:after, &:before {
			clear: both;
			content: '';
			display: table;
		}

		.poster {
			position: relative;
			width: 100%;
			margin: 0px;

			h1 {
				font-size: 10vw;
			}
		}

		.description {
			width: 100%;
			margin: 8px 0px 0px 0px;
			position: relative;

			.col {
				position: relative;
				float: none;

				h2 {
					left: 60px;
					font-size: 7.5vw;
				}

				&:first-child {
					padding-top: 100%;
					width: 100%;

					.text-tile {
						position: absolute;
						left: 0;
						top: 0;
						padding: 30px 30px 30px 60px;
						
					}
				}

				&:last-child {
					position: relative;
					width: 100%;
				}
			}

			&:after, &:before {
				content: '';
				clear: both;
			}
		}
	}
}

