@import '../../styles/common';

.imageTile {
  img {
    width: 100%;
    transform: scale(1);
    @include transition(all, $normalTrans);
  }

  &:hover img {
    transform: scale($enlargeSize);
  }

  &:before {
    content: '';
    z-index: 3;
    @include absoluteFill();
    @include insetBoxShadow(8px, $darkShadowColor);
  }

  h2 {
    z-index: 4;
    color: $white;
    font-weight: $heavierFw;
    line-height: $textLH;
    @include absoluteTopLeft();
    @include textShadow($textShadowBlur, $shadowColor);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.textTile {
  background: $white;

  &__content {
    height: calc(100% - 54px);
  }

  .arrowBtn {
    border: 10px solid transparent;
    border-left-color: $brochureArrowColor;
    @include absoluteRightBottom();

    &:hover {
      border-left-color: $brochureArrowHoverColor;
    }

    &.more {
      @include transform(45deg);
    }

    &.less {
      right: 10px;
      bottom: 10px;
      @include transform(225deg);
    }
  }
}

.mobileTextTile {
  padding: 30px !important;
}
