.addPostBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 50;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;

  &--hidden {
    display: none;
    top: 70px;
  }

  .btnImage {
    line-height: 0;
    border-radius: 20px;
    margin-right: 8px;

    img {
      width: 12px;
      height: 12px;
    }
  }

  .btnText {
    text-transform: uppercase;
    font-weight: 600;
  }

  &--afterImage {
    .btnImage {
      background: #fff;
      padding: 5px;
    }

    .btnText {
      color: #fff;
    }
  }

  &--afterText {
    background: #fff;
    padding: 4px 8px;
    border: 1px solid #ddd;

    .btnText {
      color: #000;
    }
  }
}
