@import '../../styles/common';

@media (max-width: 767px) {
  .brochure {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.brochure {
  z-index: 20;
  background: $white;
  @include absoluteFill();

  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbarThumbColor !important;
  }

  &__row {
    margin: 0 -4px;
    position: relative;
  }

  &__col {
    padding: 0 4px;
    position: relative;
  }

  &__menu {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 100;
    display: block;

    button {
      padding: 5px;
      background: $white;
      @include borderRadius(20px);

      img {
        opacity: $darkOpacity;
      }

      &:hover img {
        opacity: $darkerOpacity;
      }
    }
  }

  .mainPoster {
    padding: 0;

    h2 {
      padding: 30px 30px 30px 60px;
    }
  }

  .descriptionPoster,
  .descriptionText {
    padding: 0;
  }

  .tileCol {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 1;
  }

  .tileContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 8px;
  }

  .tile {
    @include absoluteFill();
    @include transition(all, $fastTrans);
  }

  @media (min-width: 992px) {
    .tileCol:nth-child(3n + 1) {
      .imageTile h2,
      .textTile {
        padding-left: 60px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .tileCol:nth-child(2n + 1) {
      .imageTile h2,
      .textTile {
        padding-left: 60px;
      }
    }

    .descriptionText .textTile {
      padding-left: 60px;
    }
  }

  @media (max-width: 767px) {
    .tileCol {
      .imageTile h2,
      .textTile {
        padding-left: 30px;
      }
    }

    .descriptionText .textTile,
    .descriptionPoster .imageTile h2 {
      padding-left: 30px;
    }
  }

  @media (max-width: 991px) {
    &__menu {
      button {
        @include boxShadow($boxShadowBlur, $shadowColor);
        @include transition(all, $fastTrans);
        &:hover {
          @include boxShadow($boxShadowBlur, $darkShadowColor);
        }
      }
    }
  }
}
