.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &__img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 32px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    height: auto;
    cursor: pointer;
    z-index: 102;
    position: relative;
  }

  &:hover {
    top: -1px;
    left: -1px;

    img {
      width: 34px;
      height: 34px;
    }
  }
}
