@import '../../styles/common';

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 256px;
  width: calc(100% - 256px);
  @include transition(all, $fastTrans);

  &__withoutQuest {
    left: 0;
    width: 100%;
    @include transition(all, $fastTrans);
  }

  &__hidden {
    visibility: hidden;
  }
}
