.textPost {
  padding: 20px;
  margin-top: 8px;
  border-top: 1px solid #ccc;

  h2 {
    left: 0;
    bottom: 0;
  }

  &__title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__info {
    color: gray;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__content {
    font-size: 18px;
    margin-bottom: 0;
  }
}