body {
  font-family: 'Open Sans', sans-serif; 
  font-size: 14.5px; 
  margin: 0; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%; 
  overflow-x: hidden; 
  font-weight: 300; 
  width: calc(100% + 10px); 
  position: relative;

  &::-webkit-scrollbar {
    width:10px;
    * {
      background:transparent;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.7) !important;
  }
}

* {
  font-family: 'Open Sans', sans-serif !important;
  margin:0; 
  padding:0; 
  -webkit-font-smoothing: auto !important;
}

@media screen and (orientation:portrait) {
  body {
    font-size: calc(12px + 0.4vh);
  }
}

.logo {
  top: 10px; 
  left: 10px; 
  position: fixed; 
  z-index: 100; 
  width: 32px; 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 20px; 
  height: auto;
  cursor: pointer;
}

.logo-name-tab {
  position: fixed;
  height: 85px;
  padding: 7px;
  bottom: 20%;
  border-radius: 0 5px 5px 0;
  box-sizing: content-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: none;
  background: #fff;
  z-index: 100;

  img {
    height: 100%;
    width: auto;
  }
}

.home-page {
  background: #fff;
  position: relative;
  overflow-x: hidden;

  button:focus, input:focus {
    outline: none;
  }
  
  .row {
    margin: 0 -4px;
    height: 100vh;
  }

  .column {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 33.33%;
    padding: 0 4px;

    .content {
      height: 100%;
    }

    .tile {
      transition: ease-in-out 0.5s;
      position: relative;
      z-index: 10;

      &:not(:last-child) {
        margin-bottom: 8px;
        margin-top: 0;
      }

      &.auth-tile {
        z-index: 1;

        &.hidden {
          margin-top: calc(-80%);
          margin-bottom: 0;

          .auth-form-wrapper {
            padding-top: 80px;
          }
        }
      }

      &.start-quest-tile {
        z-index: 1;
      }

      .profile, .start-quest, .poster, .post {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
          -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
          -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
        }

        img {
          width: 100%;
          height: auto;
        }

        h2 {
          padding: 19px 30px;
          position: absolute;
          z-index: 20;
          text-transform: uppercase;
          color: #fff;
          font-size: 44px;
          font-weight: 900;
          line-height: 1.3;
          text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        }
      }

      .profile {
        h2 {
          left: 30%;
          bottom: 0;
        }

        .profile-pic {
          position: absolute;
          width: 28%;
          padding-top: calc(28% - 30px);
          z-index: 50;
          border-radius: 100%;
          background: #fff;
          overflow: hidden;
          bottom: -22.5%;
          left: 30px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          border: 15px solid #fff;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }

      .start-quest {
        h2 {
          left: 40px;
          top: 30%;
          width: 30%;
        }
      }

      .poster {
        h2 {
          left: 0;
          top: 0;
        }
      }

      .post {
        h2 {
          left: 0;
          bottom: 0;
        }
      }

      .auth-form-wrapper {
        height: 0%;
        padding: 100px 30px 20px 70px;
        position: relative;

        .close-btn {
          position: absolute;
          right: 30px;
          top: 10px;
          cursor: pointer;

          img {
            width: 15px;
            height: 15px;
            filter: grayscale(100%);
          }
        }

        .inline-buttons {
          display: flex;
          justify-content: space-between;
          margin: 15px 0;

          button {
            width: calc(50% - 5px);
            border: 1px solid #ddd;
            background: #eee;
            color: #888;
            padding: 8px 0 8px 8px;
            text-align: left;
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
              width: 20px;
              height: 20px;
              margin-right: 8px;
            }
          }
        }

        .buttons {
          button {
            border: 1px solid #ddd;
            background: #eee;
            color: #888;
            padding: 8px 8px 8px 8px;

            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }

        .divider {
          text-align: center;
          position: relative;

          &:before {
            border-bottom: 1px solid #aaa;
            content: ' ';
            position: absolute;
            display: block;
            top: 50%;
            width: 100%;
          }

          span {
            font-size: 16px;
            padding: 0 20px;
            background-color: #fff;
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            color: #aaa;
          }
        }

        form {
          margin-top: 10px;

          input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 8px;
            color: #333;

            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }
        }
      }

      .description {
        padding: 25px;

        .heading {
          margin-bottom: 8px;

          .title {
            text-transform: uppercase;
            font-weight: 500;
            color: black;
            font-size: 20px;
          }

          .date {
            color: gray;
            font-size: 20px;
          }
        }

        .content {
          font-size: 20px;
        }
      }
    }
  }
}