body {
  font-family: 'Open Sans', sans-serif; 
  font-size: 14.5px; 
  margin: 0; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%; 
  overflow-x: hidden; 
  font-weight: 300; 
  width: calc(100% + 10px); 
  position: relative;

  &::-webkit-scrollbar {
    width:10px;
    * {
      background:transparent;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.7) !important;
  }
}

* {
  font-family: 'Open Sans', sans-serif !important;
  margin:0; 
  padding:0; 
  -webkit-font-smoothing: auto !important;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;  
}

@media screen and (orientation:portrait) {
  body {
    font-size: calc(12px + 0.4vh);
  }
}

.logo {
  top: 10px; 
  left: 10px; 
  position: fixed; 
  z-index: 100; 
  width: 32px; 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 20px; 
  height: auto;
  cursor: pointer;
}

.logo-name-tab {
  position: fixed;
  height: 85px;
  padding: 7px;
  bottom: 20%;
  border-radius: 0 5px 5px 0;
  box-sizing: content-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: none;
  background: #fff;
  z-index: 100;

  img {
    height: 100%;
    width: auto;
  }
}

.homepage {
  background: #fff;
  padding: 0;

  button:focus, input:focus {
    outline: none;
  }

  &__row {
    margin: 0 -4px;
  }

  &__col {
    padding: 0 4px;
    position: relative;
  }
}

.addPostBtn {
  position: absolute; 
  left: 20px;
  top: 15px;
  z-index: 10;
  display: flex;
  cursor: pointer;

  &__img {
    padding: 5px;
    background: #fff;
    border-radius: 20px;
    line-height: 0;
    
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);  

    img {
      width: 12px;
      height: 12px;
      opacity: 0.75;
    }
    
  }

  &__text {
    margin-left: 8px;
    color: #fff;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.4);  
    text-transform: uppercase;
    font-weight: 600;
  }

  &:hover {
    .addPostBtn__img img {
      opacity: 1;
    }
  }
}

.tile {
  position: relative;
  font-size: 100%;

  &:not(:first-child) {
    margin-top: 8px;
  }

  &__profile, &__startQuest, &__suggestion, &__post {
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right:  0;
      box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
      -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
    }

    h2 {
      padding: 19px 30px;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      font-weight: 900;
      font-size: 3rem;
      line-height: 1.3;
    }
  }

  &__profilePic {
    position: absolute;
    width: 28%;
    padding-top: calc(28% - 16px);
    z-index: 50;
    border-radius: 100%;
    background: #fff;
    overflow: hidden;
    left: 30px;
    bottom: -95px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 8px solid #fff;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__profile {
    h2 {
      left: 30%;
      bottom: 0;
    }
  }  
    
  &__startQuest {
    h2 {
      left: 40px;
      bottom: 0;
    }
  }

  &__post {
    h2 {
      left: 0;
      bottom: 0;
    }
  }

  &__description {
    padding: 15px 25px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__info {
    margin-bottom: 8px;
    color: gray;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__content {
    font-size: 18px;
    margin-bottom: 0;
  }

  &__suggestion {
    h2 {
      left: 0;
      top: 0;
    }
  }
}

.authTile {
  padding: 100px 30px 20px 70px;
  position: relative;
  max-height: 1000px;
  opacity: 1;
  transition: all 0.3s;

  &--hidden {
    max-height: 0;
    margin-top: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }

  &__closeBtn {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;

    img {
      width: 15px;
      height: 15px;
      filter: grayscale(100%);
    }
  }

  &__inlineButtons {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    button {
      width: calc(50% - 5px);
      border: 1px solid #ddd;
      background: #eee;
      color: #888;
      padding: 8px 0 8px 8px;
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }

  &__button {
    color: #888;
    padding: 8px;
    cursor: pointer;
    margin-right: 10px;

    &--active {
      border: 1px solid #ddd;
      background: #eee;  
    }

    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }


  &__divider {
    text-align: center;
    position: relative;

    &:before {
      border-bottom: 1px solid #aaa;
      content: ' ';
      position: absolute;
      display: block;
      top: 50%;
      width: 100%;
    }

    span {
      font-size: 16px;
      padding: 0 20px;
      background-color: #fff;
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      color: #aaa;
    }
  }

  &__form {
    margin-top: 10px;

    input {
      width: 100%;
      border: 1px solid #ccc;
      padding: 8px;
      color: #333;
      margin-bottom: 10px;
    }
  }

  &__error {
    margin-top: 10px;
    color: red;
  }
}
