@import '../../styles/common';

.homePage {
  background: $white;

  &__row {
    margin: 0 -4px;
  }

  &__col {
    padding: 0 4px;
    position: relative;

    &:first-child .post {
      .postTitle,
      .postTitleEdit,
      .postContent {
        padding-left: 60px;
      }
    }
  }

  img {
    cursor: pointer;
  }

  input,
  textarea {
    cursor: text;
    resize: none;
  }

  textarea {
    overflow-y: hidden;
  }

  input::placeholder,
  textarea::placeholder {
    color: $placeholderColor;
    opacity: $darkerOpacity;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @include insetBoxShadow(1000px, $white);
    @include backgroundColor($white);
  }

  .error {
    position: absolute;
    bottom: 0;
    width: calc(100% - 80px);
    color: $errorColor;
    background: $white;
    font-weight: $lighterFw;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .themeTile {
      display: none;
    }

    .homePage__col:nth-child(2n) {
      .postTitle,
      .postContent {
        padding-left: 60px;
      }
    }
  }

  @media (min-width: 768px) {
    .homePage__col:nth-child(3n + 1) {
      .postTitle,
      .postContent {
        padding-left: 60px;
      }
    }
  }
}

.createPostBtn {
  z-index: 50;
  display: flex;
  align-items: center;
  font-size: 14px;

  &--hidden {
    display: none;
    top: 70px;
  }

  .btnImage {
    line-height: $noLH;
    margin-right: 5px;
    @include borderRadius(20px);

    img {
      width: 13px;
      height: 13px;
    }
  }

  .btnText {
    text-transform: uppercase;
  }

  &--afterImage {
    top: 16px;
    position: absolute;
    left: 24px;

    .btnImage {
      background: $white;
      padding: 5px;
      transition: all $fastTrans;
      @include boxShadow($boxShadowBlur, $shadowColor);
    }

    .btnText {
      color: $white;
      font-weight: $heavyFw;
      font-size: 15px;
      @include textShadow($textShadowBlur, $shadowColor);
      transition: all $fastTrans;
    }

    &:hover {
      .btnImage {
        @include boxShadow($boxShadowBlur, $darkShadowColor);
      }
      .btnText {
        @include textShadow($boxShadowBlur, $darkShadowColor);
      }
    }
  }

  &--afterText {
    padding: 4px 8px;
    border: 0.5px solid $white;
    margin: 9px 0 8px 14px;

    .btnText {
      color: $darkerShadowColor;
      font-size: 13px;
    }

    .btnImage {
      opacity: $darkOpacity;
    }

    &:hover {
      .btnText {
        color: $black;
      }
      .btnImage {
        opacity: $darkerOpacity;
      }
    }
  }
}
