@import '../../styles/common';

.fixedTile {
  &:before {
    content: '';
    display: block;
    padding-top: 50%;
  }

  @media (max-width: 575px) {
    &:before {
      padding-top: 100%;
    }
  }

  &__image {
    width: 100%;
    transform: scale(1);
    @include transition(all, $normalTrans);
  }

  &:hover &__image {
    transform: scale($enlargeSize);
  }

  &__content {
    @include absoluteFill();

    &:before {
      content: '';
      z-index: 1;
      @include absoluteFill();
      @include insetBoxShadow($boxShadowBlur, $darkShadowColor);
    }
  }

  &__title {
    color: $white;
    font-weight: $heavierFw;
    line-height: $textLH;
    @include vCenter();
    @include textShadow($textShadowBlur, $shadowColor);
  }

  &__btn {
    position: absolute;
    right: 15px;
    bottom: 5px;
    color: $white;
    z-index: 10;
    &:hover {
      color: $white;
    }
    @include textShadow($textShadowBlur, $shadowColor);
  }
}
